* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: lightgrey;
    color: #555555;
}

header {
    background-color: #555555;
    color:white;
}

.nav-link{
    color:lightgray;
}

.nav-link:hover{
    color:orangered;
}

footer {
    background-color: #555555;
    height: 100px;
    padding: 30px;
    color: lightgrey;
}

main {
    min-height: 80vh;
}

.alert {
    display: none;
}

.violet {
    color: violet;
}

.orangered {
    color:orangered;
}

.custom-range {
    margin-top: 30px;
}

.analyzed_text_box {
    background-color: white;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.analyzed_text_box h2 {
    color: gray;
    text-align: center;
}

.analyzed_text_box label {
    margin-bottom: 0px;
    margin-top: 50px;
    color: gray;
}

.custom-range {
    margin-top: 10px;
}

.text_viz_row {
    display: flex;
    flex-direction: row;
}

.controls-area {
    width: 25%;
    padding-right: 30px;
}

.viz-text-area {
    width: 75%;
}

.about-group {
    background-color: white;
    padding-left: 120px;
    padding-right: 140px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-group h3 {
    color:orangered;
}

.mershon-portrait {
    max-height: 240px;
    margin: 20px;
}