{% extends "layout.html" %}

{% block title %}
AJAX Test
{% endblock %}

{% block scripts %}
<script src="/static/ajax_test.js"></script>
{% endblock %}


{% block main %}
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="email_input">Email address</label>
                <input type="email" class="form-control" id="email_input" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="name_input">Name</label>
                <input type="text" class="form-control" id="name_input" placeholder="First Name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div id="success_alert" class="alert alert-success" role="alert"></div>
        <div id="error_alert" class="alert alert-danger" role="alert"></div>
    </div>
    <div id="test_insert_here" class="container"></div>
{% endblock %}
