{% extends "layout.html" %}

{% block title %}
Chronolexicon
{% endblock %}

{% block scripts %}
<script src="/static/analyze_text.js"></script>
{% endblock %}


{% block main %}
    <div class="container">
        <form class="form" id="text_submit_form">
            <div class="form-group">
                <label for="analysis_text">Enter some text to analyze...</label>
                <textarea class="form-control" id="analysis_text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <div id="success_alert" class="alert alert-success" role="alert"></div>
        <div id="error_alert" class="alert alert-danger" role="alert"></div>
    </div>
    <div class="container">
        <form class="form" id="cutoff_date_form">
            <label for="cutoff_date_range" >Words in <span class="violet">violet</span> did not exist before <span class="violet" id="cutoff_date_text"></span></label>
            <input type="range" class="custom-range" min="1000" max="2020" id="cutoff_date_range">
        </form>
    </div>
    
    <div id="analyzed_text_container" class="container"></div>
    <div id="loading_text_group">
        <h2 class="loading_text text-center">Loading</h2>
    </div>
{% endblock %}