{% extends "layout.html" %}

{% block title %}
Chronolexicon
{% endblock %}

{% block scripts %}
<script src="/static/analyze_text.js"></script>
{% endblock %}


{% block main %}
    <div class="container">
        <form class="form" id="text_submit_form">
            <div class="form-group">
                <label for="analysis_text">Enter some text to analyze...</label>
                <textarea class="form-control" id="analysis_text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div id="success_alert" class="alert alert-success" role="alert"></div>
        <div id="error_alert" class="alert alert-danger" role="alert"></div>
    </div>
    <div class="container analyzed_text_box" id="analyzed_text_group">
        
        <div class="container text_viz_row">
            <div class="controls-area">
                <form class="form" id="cutoff_date_form">
                    <label for="cutoff_date_range">Adjust cutoff date...</label>
                    <input type="range" class="custom-range" min="1000" max="2020" id="cutoff_date_range">
                </form>
                <p><span class="orangered">In use by </span><span id="cutoff_date_text"class="orangered"></span><span class="orangered"> A.D.</span>
                <br><span class="violet">Can't find first use data.</span></p>
            </div>
            <div class="viz-text-area">
                <h2>Analyzed Text</h2>
                <div id="analyzed_text_container" class="container"></div>
            </div>
        </div>
    </div>
    <div id="loading_text_group">
        <h2 class="loading_text text-center">Loading</h2>
    </div>
{% endblock %}